#logo {
	position: absolute;
	top: 10px;
	left: 20px;
	height: 60px;
	margin-top: 20px;
	margin-left: 10px;
	display: inline;

}
.navbar{
	font-size: 30px;
	display: block;
	height: 100px;
	font-family: 'Oswald', sans-serif;
}
.link{
	margin-right: 35px;
}
a {
	color: darkgray;
	text-decoration: none;
}
a:hover {
	color: #c4302b;
}
nav {
	text-align: right;
	padding-top: 32px;
}
#backgroundpic {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 950px;
	min-height: 580px;
	position: relative;
}

h2 { 
   position: absolute; 
   top: 125px; 
   left: 190px; 
   width: 76%; 
   font-size: 70px;
   color: white;
   text-decoration: none;
   font-family: Verdana;
   background-color: rgba(192,192,192, 0.85);
}

h3 { 
   position: absolute; 
   top: 250px; 
   left: 297px; 
   width: 61%; 
   font-size: 70px;
   color: white;
   text-decoration: none;
   font-family: Verdana;
   background-color: rgba(192,192,192, 0.85);
}
