#logo {
	position: absolute;
	top: 10px;
	left: 20px;
	height: 60px;
	margin-top: 20px;
	margin-left: 10px;
	display: inline;

}
.navbar{
	font-size: 30px;
	display: block;
	height: 100px;
	font-family: 'Oswald', sans-serif;
}
.link{
	margin-right: 35px;
}
a {
	color: darkgray;
	text-decoration: none;
}
a:hover {
	color: #c4302b;
}
nav {
	text-align: right;
	padding-top: 32px;
}
#backgroundpic {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 950px;
	min-height: 580px;
	position: relative;
}

h2 { 
   position: absolute; 
   top: 125px; 
   left: 210px; 
   width: 70%; 
   font-size: 4.5vw;
   color: white;
   text-decoration: none;
   font-family: Verdana;
   background-color: rgba(192,192,192, 0.85);
}

h3 { 
   position: absolute; 
   top: 250px; 
   left: 317px; 
   width: 57%; 
   font-size: 4.5vw;
   color: white;
   text-decoration: none;
   font-family: Verdana;
   background-color: rgba(192,192,192, 0.85);
}

#casey{
	width:250px;
	height:250px;
	margin-top:50px;
	margin-left:50px;
	float:left;
}

#jenn{
	width:250px;
	height:250px;
	margin-top:50px;
	margin-right: 50px;
	float:right;
}

#laurdiy{
	float:left;
	width:250px;
	height:250px;
	margin-top:350px;
	margin-left:-250px;
	margin-bottom: 50px;
}

#mkbhc{
	width:250px;
	height:250px;
	margin-top:350px;
	margin-left:100px;
	float:left;
}

#jenna{
	width:250px;
	height:250px;
	margin-top:50px;
	margin-right:400px;
	float:right;
}

#vanoss{
	width:250px;
	height:250px;
	margin-top:-250px;
	margin-right:50px;
	margin-bottom: 50px;
	float:right;
}

h4 {
    position: absolute; 
    top: 700px; 
    left: 440px; 
    width: 57%; 
    font-size: 3.2vw;
    color: rgb(51, 51, 51);
    font-family: Verdana;
}

#intro {
    position: absolute; 
    top: 815px; 
    left: 410px; 
    width: 57%; 
    font-size: 1.6vw;
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    position: absolute; 
    top: 875px; 
    left: 410px; 
    width: 48%; 
    font-size: 1.6vw;
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}

h5 { 
   position: absolute; 
   top: 50px; 
   left: 280px; 
   width: 61%; 
   font-size: 4.5vw;
   color: white;
   text-decoration: none;
   font-family: Verdana;
   background-color: rgba(192,192,192, 0.85);
}

#description{
    position: absolute; 
    top: 250px; 
    left: 285px; 
    width: 60%; 
    font-size: 1.6vw;
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}

#purse{
	width:250px;
	height:250px;
	margin-top:250px;
	margin-left:150px;
	float:left;
}

#camera{
	width:300px;
	height:250px;
	margin-top:250px;
	margin-left:150px;
	float:center;
}

#iphone{
	width:250px;
	height:250px;
	margin-top:250px;
	margin-right:150px;
	float:right;
}

#polaroid{
	width:250px;
	height:250px;
	margin-top:100px;
	margin-left:150px;
	float:left;
}

#gopro{
	width:300px;
	height:250px;
	margin-top:100px;
	margin-left:150px;
	float:center;
}

#palette{
	width:250px;
	height:250px;
	margin-top:100px;
	margin-right:150px;
	float:right;
}

#computer{
	width:250px;
	height:250px;
	margin-top:100px;
	margin-left:150px;
	float:left;
}

#straightener{
	width:300px;
	height:250px;
	margin-top:100px;
	margin-left:150px;
	float:center;
}

#planner{
	width:250px;
	height:250px;
	margin-top:100px;
	margin-right:150px;
	float:right;
}

h6 { 
   position: absolute; 
   top: 50px; 
   left: 280px; 
   width: 61%; 
   font-size: 50px;
   text-decoration: none;
   font-family: Verdana;
}
